@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Prompt", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
  
/* เพิ่มให้ n8n chat ขยับสูงขึ้นหนีเมนูด้านล่างหรือปุ่มอื่นๆ */
:root {
  --chat--window--bottom: 100px;
}

.chat-window-wrapper {
  bottom: 100px !important;
  z-index: 9999 !important;
}

